body {
	background: #818D92;
}

.blurb h2 {
	color: darkred;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: #D4C5C7;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .nav-link {
	color: white;
}

#mainNavbar .nav-link:hover {
	color: darkred;
}

#mainNavbar .navbar-brand {
	color: darkred;
	font-size: 1.5rem;
}

#headingGroup span {
	color: darkred;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.navbar.scrolled {
	background: #586A6A;
	transition: background 500ms;
}

@media (max-width: 1200px) {
	#headingGroup h1 {
		font-weight: 100;
		font-size: 3rem;
	}
}